.App {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}
body{
  background-color: #d6eaf8;
}
span{
  font-family: 'Niconne', cursive;
  font-size: 60px;
  color: #eda09f;
  text-shadow: 1px 1px grey;
}
h1{
  font-family: 'Carattere', cursive;
  font-weight: 200;
  color: #f78fa3;
}
p{
  color: #2a4269;
}
.push{
  width: 230px;
  padding: 5px;
  margin: 20px;
  background-color: #eda09f;
  border: none;
  color: #2a4269;
  font-weight: bold;
}
.btn{
 border: none;
 background-color: #d6eaf8;
 color: brown;
 font-weight: bold;
 font-style: italic;
 font-family: 'Ubuntu', sans-serif;
 

}
h3{
  color: #2a4269;
  text-shadow: 1px 1px #667da1;
}
h4{
  color: #2a4269;
}